{
	auto_https disable_redirects
}

(app_proxy) {
	request_body {
		max_size {$CADDY_MAX_REQUEST_BODY_SIZE:10MB}
	}
	encode zstd gzip
	reverse_proxy app:3000
}

:80 {
	@needs_https expression `!header({'Cf-Visitor':'*https*'}) && !header({'X-Forwarded-Proto':'https'})`
	redir @needs_https https://{host}{uri} 308

	import app_proxy
}

https://{$CADDY_HOST:localhost} {
	import app_proxy
}
